<% @ical_settings.each do |setting| %>
  <div class="autoscroll">
  <p class="buttons hide-when-print">
    <%= link_to_user(setting.user) %> ( <%= setting.name %> )
    <%= link_to l(:button_update), {:controller => "ical_import", :action => "update", :id => setting}, :class => 'icon icon-edit' %>
  </p>
  <table class="list issues">
    <tbody>
      <tr>
        <th><%= l(:field_issue) %></th>
        <th><%= l(:field_start_date) %></th>
        <th><%= l(:field_due_date) %></th>
        <th><%= l(:ical_field_location) %></th>
        <th><%= l(:field_created_on) %></th>
        <th><%= l(:field_updated_on) %></th>
      </tr>
      <% setting.ical_events.sort_by{|event| event.start_date}.each do |event| %>
        <% issue = event.issue %>
        <tr>
          <td><%= link_to_issue(issue) %></td>
          <%= event_date(event, issue) %>
          <td><%= event.location %></td>
          <td style="text-align: right;"><%= distance_of_time_in_words(Time.now, event.created_at) %>前</td>
          <td style="text-align: right;"><%= distance_of_time_in_words(Time.now, event.updated_at) %>前</td>
        </tr>
      <% end %>
      </tbody>
  </table>
  </div>
<% end  %>

